body {
  flex-direction: column;
  width: 100vw;
  height: 200vh;
  margin: 0%;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 30;
  font-style: bold;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 10;
}

.board {
  background: rgb(197, 255, 140);
  border-radius: 10px;
}

p {
  font-weight: 900;
  margin: 2;
}

button {
  height: 90px;
  width: 90px;
  border-radius: 5px;
  background: 	#F0F0F0;
  color: rgb(0, 0, 0);
  font-weight: 900;
  border-width: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  display: flex;
  justify-content: center;
  font-weight: 100;
  margin: 30;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin: 10;
}

.head {
  font-size: x-large;
}

span {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  font-family: "Bevan";
  font-size: 30;
}